@font-face {
    font-family: "Fjalla One";
    src: url(../fonts/FjallaOne-Regular.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
/* -------- Main gallery stile -------- */
.galleryTitle {
    position: relative;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    padding: 25px;
    background: #fcab01;
}
.galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}
.galleryItem {
    position: relative;
    cursor: pointer;
}
.galleryItem:before,
.galleryItem:after {
    position: absolute;
    transition: .2s;
}
.galleryItem:before {
    color: white;
    font-size: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.galleryItem:hover:before {
    font-size: 1.5rem;
}
.galleryItem:after{
    display: block;
    content: "";
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
}
.galleryItem:hover:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}
.galleryImg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgTitle {
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,.0),rgba(0,0,0,1));
    width: 100%;
    margin: 0;
    padding: 10px;
}
.galleryItem:nth-child(1) {
    grid-column-start: span 2;
}
.galleryItem:nth-child(3) {
    grid-row-start: span 2;
}
.galleryItem:nth-child(7) {
    grid-row-start: span 2;
}
.galleryItem:nth-child(10) {
    grid-column-start: span 2;
}
.galleryItem:nth-child(11) {
    grid-row-start: span 2;
}
.galleryItem:nth-child(14) {
    grid-column-start: span 2;
}

/* -------- Ligthbox gallery stile -------- */
.galleryLigthbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 3000;
    font-size: 16px;
    padding: 0 15px;
    display: none;
    justify-content: center;
    align-items: center;
}
.galleryLigthbox.show {
    display: flex;
}
.galleryLightboxModal {
    position: relative;
    background-color: white;
    padding: 5px;
    max-width: 1400px;
    max-height: 875px;
}
.galleryLightboxImg {
    display: flex;
    max-width: 1400px;
    max-height: 865px;
}
.galleryLightboxControl:before {
    display: block;
}
.galleryLightboxControl {
    position: absolute;
    cursor: pointer;
}
.galleryLightboxControl.icon-close {
    top: -25px;
    right: -15px;
    padding: 5px;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
}
.galleryLightboxControl.icon-arrowright,
.galleryLightboxControl.icon-arrowleft {
    top: 50%;
    font-size: 2rem;
    color: white;
    transform: translateY(-50%);   
}
.galleryLightboxControl.icon-arrowright {
    right: 10px;
}
.galleryLightboxControl.icon-arrowleft {
    left: 10px;
}

/* -------- Responsive gallery stile -------- */
@media (min-width:768px){
    .galleryContainer {
        grid-template-columns: repeat(4, 1fr);
    }
    .galleryItem:nth-child(3) {
        grid-row-start: span 3;
    }
    .galleryItem:nth-child(10) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
}
@media (min-width:1024px) {
    .galleryContainer {
        grid-template-columns: repeat(5, 1fr);
    }
    .galleryItem:nth-child(2) {
        grid-row-start: span 2;
    }
    .galleryItem:nth-child(9) {
        grid-column-start: span 2;
    }
    .galleryItem:nth-child(11) {
        grid-row-start: span 2;
    }
    .galleryItem:nth-child(10) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .galleryItem:nth-child(14) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .galleryItem:nth-child(15) {
        grid-column-start: span 3;
    }
}