@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@400;700&display=swap');

/* -------- Start whith reset.css --------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- Start whith the styles --------*/

*{
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* -------- Base styles --------*/
img {
    display: block;
    width: 100%;
    max-width: 100%;
}
.container {
    width: 100%;
    margin: auto;
}
.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100%;
    height: 100%;
}

/* -------- Header styles --------*/
.mainHeader {
    width: 100%;
}
.logoName {
    font-size: 1.8em;
    color: #fcab01;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.logoImg {
    width: 80px;
    height: 80px;
    margin-left: 35px;
    margin-top: 10px;
    z-index: 1010;
}
.mainHeaderContactInfoPhone {
    background: #fcab01;
    color: white;
    margin: 0 auto;
    padding: 10px;
}
.mainHeaderContactInfoAddress {
    margin: 0 auto;
    padding: 10px;
}
.mainHeader [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}

/* -------- Nav menu styles --------*/
.mainNav {
    width: 100%;
    position: absolute;
    z-index: 2000;
    padding: 10px;
}
.icon-menu,
.icon-times {
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    
}
.socialIcon {
    display: flex;
    justify-content: space-between;
}
.socialIcon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.socialIconLink {
    text-decoration: none;
}
.menu,
.subMenu {
    list-style-type: none;
}
.item {
    padding: 10px;
    color: white;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}  
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subItem a {
    padding: 15px;
}
.item {
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.subMenu {
    display: none;
}
.subMenuActive .subMenu {
    display: block;
}
.subItem a {
    padding: 10px 15px;
}
.menuLink {
    display: block;
    padding: 16.6px;
    color: white;
    text-decoration: none;
}
.menuLinkSelect {
    background: #fcab01;
}
.subMenuLinkSelect {
    border: 2px solid #fcab01;
}
.mostrar {
    height: 246px;
}
.subMenu a {
    padding: 10px;
    color: white;
    font-size: .8em;
}
.menu a {
    text-decoration: none;
}

/* -------- Breadcrumb styles -------- */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgba(0,0,0,.9);
    position: absolute;
    right: 0px;
    top: 400px;
    z-index: 1001;
    display: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 13px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: white;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: none;
}


/* -------- Banner styles -------- */
.banner {
    margin-top: 0;
    position: relative;
}
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    top: 0;
}
.bannerImg {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.bannerContent {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 100px;
    position: absolute;
    z-index: 1500;
    top: 50%;
    font-size: 1.5em;
    font-weight: bold;
}

/* -------- Footer styles -------- */
.mainFooter {
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.mainFooter [class*="icon-"] {
    color: white;
    text-decoration: none;
}
.mainFooter [clas*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}
.columnTitle {
    font-size: 1.3em;
}

 /* -------- Responsive Stiles -------- */
@media screen and (min-width:257px) {
    .logoImg {
        margin-left: 65px;
    }
}
@media screen and (min-width:480px) {
    .logoName {
        color: white;
    }
    .logoImg {
        margin-left: 35px;
    } 
    .mainHeaderContactInfo {
        text-align: right;
    }
    .mainHeaderContactInfoPhone {
        background: none;
    }
    .mainHeaderContactInfoAddress {
        color: white;
    }
    .mainNav {
        background: rgba(0,0,0,.85);
    }
    .banner {
        margin-top: -320px;
        z-index: -1000;
    }
    .bannerImg {
        height: 800px;
    }
    .mainFooter .containerFlex {
        align-items: flex-start;
    }
    .column {
        width: 50%;
    }
    .column33 {
        width: 32%;
    }
    ul.breadcrumb {
        display: block;
        top: 256px;
      }  
 }
 @media screen and (min-width:496px) {
    .logoImg {
        margin-left: 65px;
    }
    ul.breadcrumb{
        top: 227px;
      }
}
 @media screen and (min-width:768px) {
    .columnTitle {
        font-size: 1em;
    }
}
@media screen and (min-width:1024px) {
  .container {
      width: 1000px;
  }  
  .logo {
     font-size: 2em;
     padding: 0; 
  }
  .mainHeaderContactInfoPhone, .mainHeaderContactInfoAddress {
      padding-right: 0;
      font-size: 1.15em;
  }
  .mainNav {
      padding: 0;
  }
  .bannerImg {
      height: 1000px;
  }
  .bannerContent {
      font-size: 2.5em;
  }
  .icon-menu,
  .icon-times {
      display: none;
  }
  .menuLink {
      padding: 20px;
  }
  .item {
      position: relative;
      display: block;
      height: auto;
      width: auto;
  }
  .subMenuActive .subMenu{
      display: block;
      position: absolute;
      left: 0;
      top: 69px;
      background: rgba(0,0,0,.85);
  }
  .mainFooter {
      padding-top: 30px;
      padding-bottom: 30px;
  }
  ul.breadcrumb{
    top: 207px;
  }
}
@media screen and (min-width:1600px) {
    .container {
        width: 1400px;
    }
    .bannerImg {
        height: 1200px;
    }
}